{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Changer mot de passe{% endblock %}

{% block body %}

    <h1 class="title has-text-centered">Modifier mon mot de passe</h1>

    <div class="column is-half is-offset-one-quarter">
    <div class="box">
    {{ form_start(changePasswordForm) }}

    <div class="field m-3">
         <div class="field-label is-normal has-text-centered">
         <label class="label">Ancien mot de passe</label>
         </div>
        <div class="field-body">
            {{ form_widget(changePasswordForm.currentPassword) }}
        </div>
    </div>

    <div class="field m-3">
        {# <div class="field-label is-normal has-text-centered"> #}
        {# <label class="label">Nouveau mot de passe</label> #}
        {# </div> #}
        <div class="field-body">
            {{ form_widget(changePasswordForm.newPassword) }}
        </div>
    </div>

    <div class="m-4">
        <button class="button is-link is-outlined is-fullwidth" type="submit">Valider</button>
    </div>
    {{ form_end(changePasswordForm) }}


    {% if (errorInvalidPassword != null) %}
        <div>
            {{ errorInvalidPassword }}
        </div>
    {% endif %}



{% endblock %}