{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Changer mot de passe{% endblock %}

{% block body %}

    <h1>Modifier mon mot de passe</h1>
    {{ form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    <button>Valider</button>
    {{ form_end(changePasswordForm) }}

    {% if (errorInvalidPassword != null) %}
    <div>
            {{ errorInvalidPassword }}
    </div>
    {% endif %}



{% endblock %}