{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Editer mon profil{% endblock %}

{% block body %}
    <main>
        <div class="column is-half">
            <div class="py-6">
                <div class="box my-6">
                    <h1 class="title has-text-centered">Editer mon profil</h1>
                    {{ form_start(editProfileForm) }}

                    <div class="field is-horizontal m-3">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Pseudo</label>
                        </div>
                        <div class="field-body">
                            {{ form_widget(editProfileForm.username) }}
                        </div>
                    </div>

                    <div class="field is-horizontal m-3">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Nom</label>
                        </div>
                        <div class="field-body">
                            {{ form_widget(editProfileForm.name) }}
                        </div>
                    </div>

                    <div class="field is-horizontal m-3">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Prénom</label>
                        </div>
                        <div class="field-body">
                            {{ form_widget(editProfileForm.firstName) }}
                        </div>
                    </div>

                    <div class="field is-horizontal m-3">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Téléphone</label>
                        </div>
                        <div class="field-body">
                            {{ form_widget(editProfileForm.phone) }}
                        </div>
                    </div>

                    <div class="field is-horizontal m-4">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body">
                            {{ form_widget(editProfileForm.email) }}
                        </div>
                    </div>

                    <div class="field is-horizontal m-4">
                        <div class="field-label is-normal has-text-centered">
                            <label class="label">Photo de profil</label>
                        </div>

                        <div class="field-body" id="download">
                            <div class="file is-danger has-name is-boxed">
                                <label class="file-label">
                                    {{ form_widget(editProfileForm.pictureName) }}
                                    <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                  </span>
                                  <span class="file-label">
                                      Choisissez une image
                                  </span>
                                </span>
                                    <span class="file-name">

                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-variable is-0-mobile is-0-tablet is-3desktop has-text-centered">
                        <div class="column">
                            <button class="button is-link is-outlined is-fullwidth" type="submit">Valider</button>
                        </div>

                        {{ form_end(editProfileForm) }}

                        <div class="column">
                            <a class="button is-link is-outlined" href="{{ path('profile_changePassword') }}">
                                Modifier le mot de passe
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

