{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}
    <main>
        <div class="column is-half">
            <div class="py-6">
                <div class="box"><h1 class="title has-text-centered">Mon profil</h1>
                    <div class="has-text-centered">
                        <img class="picture" src="{{ asset('build/images/' ~ user.pictureName ) }}"
                             alt="{{ user.pictureName }}">
                    </div>
                    <div class="m-4 ">
                        <p><span class="subtitle">Prénom : </span><span>{{ user.firstName }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Nom : </span><span>{{ user.name }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Téléphone : </span><span>{{ user.phone }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Email : </span><span>{{ user.email }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Campus : </span><span>{{ user.campus }}</span></p>
                    </div>

                    <div class="block pl-4">

                        <a href="{{ path('profile_edit') }}"
                            class="button is-link is-outlined">
                                Modifier
                        </a>

                        <a href="{{ path('main_index') }}"
                            class="button is-link is-outlined">
                                Retour
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

