{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.username }}
{% endblock %}

{% block body %}
    <main>
        <div class="column is-half">
            {# Affichage des messages flash #}
            {% for message in app.flashes('notice') %}
                <div class="notification is-primary" id="notification">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="py-6">
                <div class="box">
                    <h1 class="title has-text-centered">{{ user.username }}</h1>
                    <div class="has-text-centered">
                        <img class="picture" src="{{ asset('build/images/' ~ user.pictureName ) }}"
                             alt="{{ user.pictureName }}">
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Prénom : </span><span>{{ user.firstName }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Nom : </span><span>{{ user.name }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Téléphone : </span><span>{{ user.phone }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Email : </span><span>{{ user.email }}</span></p>
                    </div>
                    <div class="m-4">
                        <p><span class="subtitle">Campus : </span><span>{{ user.campus }}</span></p>
                    </div>

                    <div class="columns is-variable is-0-mobile is-0-tablet is-3desktop has-text-centered">
                        {% if app.user.username in user.username %}
                            <div class="m-4 column">
                                <a class="button is-link is-outlined" href="{{ path('profile_edit') }}">
                                    Modifier
                                </a>
                            </div>
                        {% endif %}

                        <div class="m-4 column">
                            <a href="{{ path('main_index') }}"
                               class="button is-link is-outlined">
                                Retour
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

