{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.username }}
{% endblock %}

{% block body %}
    <main>
        <div class="column is-half">
            <div class="box">
                <h1 class="title has-text-centered">{{ user.username }}</h1>
                <div class="m-4">
                    <p><span class="subtitle">Prénom : </span><span>{{ user.firstName }}</span></p>
                </div>
                <div class="m-4">
                    <p><span class="subtitle">Nom : </span><span>{{ user.name }}</span></p>
                </div>
                <div class="m-4">
                    <p><span class="subtitle">Téléphone : </span><span>{{ user.phone }}</span></p>
                </div>
                <div class="m-4">
                    <p><span class="subtitle">Email : </span><span>{{ user.email }}</span></p>
                </div>
                <div class="m-4">
                    <p><span class="subtitle">Campus : </span><span>{{ user.campus }}</span></p>
                </div>

                {% if app.user.username in user.username %}
                <div class="m-4">
                    <a class="button is-link is-outlined" href="{{ path('profile_edit') }}">
                        Modifier
                    </a>
                </div>
                {% endif %}

                <div class="m-4">
                    <a href="{{ path('main_index') }}">
                        <button class="button is-link is-outlined">
                            Retour
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

