<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="my-2 mx-2" href="{{ path('main_index') }}">
            <img class="logo" src="{{ asset('build/images/Logo_Par_ici_la_Sortie.png') }}" alt="logo sortir">
        </a>

        <a role="button" class="navbar-burger link" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item link" href="{{ path('main_index') }}">
                Accueil
            </a>

            {% if app.user %}
                <a class="navbar-item link" href="{{ path('profile_showProfile', {'id': app.user.id }) }}">
                    Mon profil
                </a>
                <a class="navbar-item link" href="{{ path('crud_createActivity') }}">
                    Crée une sortie !
                </a>
            {% endif %}

        </div>
        {% if app.user %}
            <div class="navbar-end">
                <a class="navbar-item link" href="{{ path('app_logout') }}" title="Logout">
                    Se déconnecter
                </a>
            </div>
        {% endif %}
    </div>
</nav>