<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="my-2" href="{{ path('main_index') }}">
            <img class="logo" src="{{ asset('build/images/ecolierLogo.434b4a8b.png') }}" alt="logo sortir">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('main_index') }}">
                Accueil
            </a>

    {% if app.user %}
            <a class="navbar-item" href="{{ path('profile_myProfile') }}">
                Mon profil
            </a>
    {% endif %}

        </div>
        {% if app.user %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="{{ path('app_logout') }}" title="Logout">
                        Se déconnecter
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>