{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ activity.name }}
{% endblock %}

{% block body %}
    <main>
        <div class="column is-half">
            {# Affichage des messages flash #}
            {% for message in app.flashes('notice') %}
                <div class="notification is-primary" id="notification">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="box">
                <h1 class="title has-text-centered">{{ activity.name }}</h1>
                <div class="columns">
                    <div class="column is-half">
                        <div class="m-4">
                            <span class="subtitle">Créateur : </span>
                            <span><a class="is-danger is-size-6"
                                     href="{{ path('profile_showProfile', {'id': activity.userOwner.id }) }}">
                                {{ activity.userOwner.firstName }} {{ activity.userOwner.name }}
                            </a>
                        </span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Date et heure de la sortie : </span>
                            <span>{{ activity.startDateTime | date('d/m/Y - H:i') }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Date limite d'inscription : </span>
                            <span>{{ activity.inscriptionLimitDate | date('d/m/Y') }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Nombre de places : </span>
                            <span>{{ activity.maxInscriptionsNb }} (reste : {{ activity.maxInscriptionsNb - activity.users.count }})</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Durée : </span>
                            <span>{{ activity.duration }} minutes</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Description et infos : </span>
                            <span>{{ activity.activityInfo }}</span>
                        </div>
                    </div>
                    <div class="column auto">
                        <div class="m-4">
                            <span class="subtitle">Campus : </span>
                            <span>{{ activity.campus.name }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Lieu : </span>
                            <span>{{ activity.location.name }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Rue : </span>
                            <span>{{ activity.location.street }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Ville : </span>
                            <span>{{ activity.location.city.name }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Code postal : </span>
                            <span>{{ activity.location.city.postalCode }}</span>
                        </div>

                        <div class="m-4">
                            <span class="subtitle">Latitude : </span>
                            <span>{{ activity.location.latitude }}</span>
                        </div>
                        <div class="m-4">
                            <span class="subtitle">Longitude : </span>
                            <span>{{ activity.location.longitude }}</span>
                        </div>
                    </div>
                </div>


                <div>
                    <h2 class="title is-5 has-text-centered">Liste des participants</h2>
                    <div class="columns">
                        <div class="column is-offset-2">
                            <ul>
                                {% for user in activity.users %}
                                    <li><a class="is-danger is-size-6"
                                           href="{{ path('profile_showProfile', {'id': user.id }) }}">
                                            {{ user.username }}
                                        </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="column">
                            <ul>
                                {% for user in activity.users %}
                                    <li><a class="is-danger is-size-6"
                                           href="{{ path('profile_showProfile', {'id': user.id }) }}">
                                            {{ user.name }} {{ user.firstName }}
                                        </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    {% if activity.state.label == 'open' %}
                        {% if app.user in activity.users %}
                            <div class="m-4 column">
                                <a class="button is-link is-outlined"
                                   href="{{ path('activity_signOut', {'id': activity.id }) }}">
                                    Se désinscrire
                                </a>
                            </div>
                        {% else %}
                            <div class="m-4 column">
                                <a class="button is-link is-outlined"
                                   href="{{ path('activity_signIn', {'id': activity.id }) }}">
                                    S'inscrire
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if app.user == activity.userOwner %}
                        <div class="m-4 column">
                            <a class="button is-link is-outlined"
                               href="{{ path('crud_modifyActivity', {'id': activity.id }) }}">
                                Modifier
                            </a>
                        </div>
                        <div class="m-4 column">
                            <a class="button is-link is-outlined"
                               href="{{ path('crud_cancelActivity', {'id': activity.id }) }}">
                                Annuler
                            </a>
                        </div>
                        {% if activity.state.label == 'created' %}
                            <div class="m-4 column">
                                <a class="button is-link is-outlined"
                                   href="{{ path('crud_publish', {'id': activity.id}) }}">
                                    Publier
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="m-4 column">
                        <a class="button is-link is-outlined" href="{{ path('main_index') }}">
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}



