{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Crée une sortie{% endblock %}

{% block body %}
    <main>
        <div class="columns">
            <div class="column">
                <div class="py-6">
                    <div class="box">
                        <h1 class="title has-text-centered">Créer une sortie</h1>
                        <div class="pt-3">
                            {{ form_start(form, { 'attr': {'id': 'filter2'}}) }}


                            <label class="label" for="name">Nom de la sortie</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.name, { 'attr': {'name': 'name'}}) }}
                                <div class="pl-4 error">
                                    {{ form_errors(form.name) }}
                                </div>


                            </div>
                            <label class="label" for="activityInfo">Description</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.activityInfo, { 'attr': {'name': 'activityInfo'}}) }}
                                <div class="pl-4 error">
                                    {{ form_errors(form.activityInfo) }}
                                </div>
                            </div>
                            <label class="label" for="maxInscriptionsNb">Nombre d'inscription maximal</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.maxInscriptionsNb, { 'attr': {'name': 'maxInscriptionsNb'}}) }}
                                <div class="pl-4 error">
                                    {{ form_errors(form.maxInscriptionsNb) }}
                                </div>
                            </div>
                            <label class="label" for="duration">Durer de la sortie</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.duration, { 'attr': {'name': 'duration'}}) }}
                                <p class="pt-2">&nbsp;minutes</p>
                                <div class="pl-4 error">
                                    {{ form_errors(form.duration) }}
                                </div>
                            </div>
                            <label class="label" for="campus">Votre campus</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.campus, { 'attr': {'name': 'campus'}}) }}

                            </div>
                            <label class="label" for="location">Localisation</label>
                            <div class="field is-horizontal">
                                <div class="select">
                                    {{ form_widget(form.location, { 'attr': {'name': 'location'}}) }}
                                </div>
                            </div>
                            {# {% for location in locations %} #}
                            {# <input id="city" value="{{ location.city.name }}" class="input" type="text" disabled> #}
                            {# {% endfor %} #}
                            <label class="label" for="startDateTime">Date de départ</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.startDateTime, { 'attr': { 'name': 'startDateTime','min': 'now'|date('Y-m-d') }}) }}
                                <div class="pl-4 error">
                                    {{ form_errors(form.startDateTime) }}
                                </div>
                            </div>

                            <label class="label" for="inscriptionLimitDate">Date de clôture pour l'inscription</label>
                            <div class="field is-horizontal">
                                {{ form_widget(form.inscriptionLimitDate, { 'attr': { 'name': 'inscriptionLimitDate','min': 'now'|date('Y-m-d') }}) }}
                                <div class="pl-4 error">
                                    {{ form_errors(form.inscriptionLimitDate) }}
                                </div>
                            </div>

                            <div class="columns is-variable is-0-mobile is-0-tablet is-3desktop has-text-centered">
                                <div class="m-4 column">
                                    {{ form_widget(form.save) }}
                                </div>

                                <div class="m-4 column">
                                    {{ form_widget(form.saveAndAdd) }}
                                </div>

                                {{ form_end(form) }}
                                <div class="m-4 column">
                                    <a href="{{ path('main_index') }}" class="button is-link is-outlined">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
